/* App.css */

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  padding: 20px;
  text-align: left;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.summary-reports, .starred-reports, .pages {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.key-statistics {
  flex: 2;
}



.starred-reports {
  flex: 1;
}

.pages {
  flex: 1;
}

/* App.css */
a {
  color: #0000EE;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.search-bar{
  width: 100%; 
  padding: 8px;
  box-sizing: border-box; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}