body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  justify-content: flex-start;
}
.header-title {
  font-size: 2rem; /* Match the font size to UNC Global Affairs */
  font-weight: bold;
  color: #000;
  margin: 0;
}
.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.page-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.key-statistics {
  flex: 2;
}



.starred-reports {
  flex: 1;
}

.pages {
  flex: 1;
}

/* App.css */
a {
  color: #0000EE;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.search-bar{
  width: 100%; 
  padding: 8px;
  box-sizing: border-box; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav { 
  height: 50px; 
  display: flex;
  padding: 5px 10px;
  background-color: #ffffff;
}

.nav--logo {
  max-width: 100px;
}

section {
  padding: 20px
}

.keystats{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.keystats--header{
  margin-bottom: 16px;
}

.keystats--content{
  margin-top: 0;
} 